<!-- Footer -->
<footer class="bg-brand-dark text-white py-12">
    <div class="max-w-7xl mx-auto px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
            <div>
                <h3 class="font-medium mb-6 text-sm uppercase tracking-[0.2em]">КОНТАКТЫ</h3>
                <div class="space-y-3">
                    <a href="tel:+79154015754"><p class="text-lg font-light">+7 (915) 401-57-54</p></a>
                    <button
                        onclick="openCtaModal()"
                        class="text-brand-gray text-sm font-light hover:underline transition-colors cursor-pointer"
                    >
                        Позвоните мне
                    </button>
                    <!--                    <p class="text-brand-gray font-light">info@lucedivilla.com</p>-->
                </div>
            </div>
        </div>
        <div class="border-t border-gray-800 pt-6 text-center">
            <p class="text-brand-gray text-sm font-light">© 2025 Luce di Villa</p>
        </div>
    </div>
</footer>